%h1 Order

= image_tag @sticker.image

= form_for @order do |f|
  .field
    = f.label 'Address Line 1'
    = f.text_field :address_primary

  .field
    = f.label 'Address Line 2'
    = f.text_field :address_secondary

  .field
    = f.label :city
    = f.text_field :city

  %iframe{ src: 'https://coinbase.com/inline_payments/4152b4b9e7404cbae8d655beec9f4323?c=kitten', style: 'width: 500px; height: 160px; border: none; box-shadow: 0 1px 3px rgba(0,0,0,0.25); overflow: hidden;', allowtransparency: true, frameborder: 0 }
